#OpenAI Configuration
USE_OPENAI_MOCK=1 # 1=True (mock), 0=False (real API)
OPENAI_API_KEY=

# MongoDB connection URL for development
MONGO_URI=mongodb+srv://Cluster57285:<db_password>@cluster57285.h95my.mongodb.net/
MONGO_DB_NAME=<your-db-name>
MONGO_COLLECTION_NAME=<your-db-collection-name>


# Security keys
SECRET_KEY=<your-secret-key>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=180

